################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bulky/.vs/Bulky
/Bookstore
/AspDotNetDemo
/.vs
/Bulky/.vs/ProjectEvaluation
